<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
    body(style="padding: 50px")
        .ui-btn
            a(href="").btn.btn--disabled Inactive button
            a(href="").btn.btn--black Button
            a(href="").btn.btn--bordered Button
            a(href="").btn.btn--yellow Button
            a(href="").btn.btn--yellow.btn--small Button
        .ui-titles
            .h0 Заголовок 0
            h1.h1 Заголовок H1
            h2.h2 Заголовок H2
            h3.h3 Заголовок H3
            p
                strong Акцентный текст
            p.italic Акцентный текст