header.n-neader
    .n-header__top
        .container
            a(href="" data-popup-type="request").n-btn.n-btn--yellow.js-open-popup Отправить запрос
    .n-header__primary
        .container
            .n-header__row.flex.aic
                .n-header__logo
                    img(src="img/logo.svg", alt="")
                ul.n-menu.flex.aic
                    li.n-menu__item
                        a(href="").n-menu__link Лаборатория
                        .n-menu__nested
                            .container
                                .n-menu__nested-row.flex
                                    ul
                                        li 
                                            a(href="") Компараторы массы
                                        li 
                                            a(href="") Модульные весы Cubis
                                        li
                                            a(href="") Аналитические весы
                                        li 
                                            a(href="") Лабораторные весы
                                        li 
                                            a(href="") Анализаторы влажности
                                        li 
                                            a(href="") Весы для фармацевтики
                                        li 
                                            a(href="") Гидростатическое взвешивание
                                    ul
                                        li 
                                            a(href="") Дозирующие устройства
                                        li 
                                            a(href="") Калибровка дозаторов
                                        li 
                                            a(href="") Лабораторная водоподготовка
                                        li 
                                            a(href="") Фильтровальная бумага
                                        li 
                                            a(href="") Ультрафильтрация
                                        li 
                                            a(href="") Лабораторная фильтрация
                                        li 
                                            a(href="") Микробиология
                                    ul 
                                        li 
                                            a(href="") Центрифуги
                                        li 
                                            a(href="") Дополнительное оборудование
                                        li 
                                            a(href="") Архив оборудования
                    li.n-menu__item
                        a(href="").n-menu__link Биотехнологии
                        .n-menu__nested
                            .container
                                .n-menu__nested-row.flex
                                    ul
                                        li 
                                            a(href="") Компараторы массы
                                        li 
                                            a(href="") Модульные весы Cubis
                                        li
                                            a(href="") Аналитические весы
                                        li 
                                            a(href="") Лабораторные весы
                                        li 
                                            a(href="") Анализаторы влажности
                                        li 
                                            a(href="") Весы для фармацевтики
                                        li 
                                            a(href="") Гидростатическое взвешивание
                                    ul
                                        li 
                                            a(href="") Дозирующие устройства
                                        li 
                                            a(href="") Калибровка дозаторов
                                        li 
                                            a(href="") Лабораторная водоподготовка
                                        li 
                                            a(href="") Фильтровальная бумага
                                        li 
                                            a(href="") Ультрафильтрация
                                        li 
                                            a(href="") Лабораторная фильтрация
                                        li 
                                            a(href="") Микробиология
                    li.n-menu__item
                        a(href="").n-menu__link Сделано в РФ
                        .n-menu__nested
                            .container
                                .n-menu__nested-row.flex
                                    ul
                                        li 
                                            a(href="") Компараторы массы
                                        li 
                                            a(href="") Модульные весы Cubis
                                        li
                                            a(href="") Аналитические весы
                                        li 
                                            a(href="") Лабораторные весы
                                        li 
                                            a(href="") Анализаторы влажности
                                        li 
                                            a(href="") Весы для фармацевтики
                                        li 
                                            a(href="") Гидростатическое взвешивание
                    li.n-menu__item
                        a(href="").n-menu__link Биоаналитика
                        .n-menu__nested
                            .container
                                .n-menu__nested-row.flex
                                    ul
                                        li 
                                            a(href="") Компараторы массы
                                        li 
                                            a(href="") Модульные весы Cubis
                                        li
                                            a(href="") Аналитические весы
                                        li 
                                            a(href="") Лабораторные весы
                                        li 
                                            a(href="") Анализаторы влажности
                                        li 
                                            a(href="") Весы для фармацевтики
                                        li 
                                            a(href="") Гидростатическое взвешивание
                                    ul
                                        li 
                                            a(href="") Дозирующие устройства
                                        li 
                                            a(href="") Калибровка дозаторов
                                        li 
                                            a(href="") Лабораторная водоподготовка
                                        li 
                                            a(href="") Фильтровальная бумага
                                        li 
                                            a(href="") Ультрафильтрация
                                        li 
                                            a(href="") Лабораторная фильтрация
                                        li 
                                            a(href="") Микробиология
                    li.n-menu__item
                        a(href="").n-menu__link Информация
                        .n-menu__nested
                            .container
                                .n-menu__nested-row.flex
                                    ul
                                        li 
                                            a(href="") Компараторы массы
                                        li 
                                            a(href="") Модульные весы Cubis
                                        li
                                            a(href="") Аналитические весы
                                        li 
                                            a(href="") Лабораторные весы
                                        li 
                                            a(href="") Анализаторы влажности
                                        li 
                                            a(href="") Весы для фармацевтики
                                        li 
                                            a(href="") Гидростатическое взвешивание
                                    ul
                                        li 
                                            a(href="") Дозирующие устройства
                                        li 
                                            a(href="") Калибровка дозаторов
                                        li 
                                            a(href="") Лабораторная водоподготовка
                                        li 
                                            a(href="") Фильтровальная бумага
                                        li 
                                            a(href="") Ультрафильтрация
                                        li 
                                            a(href="") Лабораторная фильтрация
                                        li 
                                            a(href="") Микробиология
                .n-header__search
                    form(action="")
                        input(type="text" placeholder="Поиск")
                        button.i-search